img{
	display: block;
	max-width: 100%;
}
#title{
	text-align: center;
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#row{
	text-align: center;
}
#content{

}
#content>p{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	font-size: 16px;
	white-space: normal;
}
#content>p>img{
	margin: 0px auto;
}
#sub{
	text-align: center;
	margin-top:16px;
}
#sub>a{
    font-size: 18px;
    cursor:pointer;
}