<extend name="Public/base"/>
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/filelist.css">
</block>
<block name="nav">
	<span>产品知识培训资料</span>
</block>
<block name="body">
	<div id="row">
    </div>
	<table border="1" cellpadding="0" cellspacing="0">
		<tr>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>标题</td>
			<td>发布者</td>
			<td>文件类型</td>
			<td>发布时间</td>
			<td>操作</td>
		</tr>

		<?php $i=($p-1)*$limit+1; ?>
		<foreach name="filelist" item="v">
		<tr id="">
			<td><?php echo $i++; ?></td>
			<td>{$v.title}</td>
			<td>{$v.author}</td>
			<td>
			<foreach name="filetype" item="vv">
				<if condition="$v.filetype == $vv['fileid']">
					{$vv.filename}
				</if>
			</foreach>
			</td>
			<td>{$v.createtime}</td>
			<td>
				<a href="__CONTROLLER__/showfile?id={$v.id}">查看</a>
			</td>
		</tr>
		</foreach>

	</table>
	<div id="page">{$show}</div>
</block>
<block name="script">
<script type="text/javascript">

</script>
</block>
</extend>